.button, .button.search, .button.primary, .button.secondary {
  background-color: none;
  border-radius: 2px;
  border: 1px solid #F7BC15;
  padding: 5px 10px;
  color: #F7BC15;
  transition: all linear 0.3s;
  font-size: 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: #cccccc;
}
.button:active {
  position: relative;
  top: 1px;
}
.button.selected {
  background-color: #F7BC15;
  color: #585123;
}
.button.primary {
  background-color: #F7BC15;
  color: #585123;
}
.button.primary:hover {
  background-color: #F7BC15;
}

.button.search {
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
